<div class="text-center">
<h1>Show</h1>


<div class="text-center">
<h1><%= @cocktail.name %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> - <%= dose.description %></li>
    <% end %>

</ul>

<h2>Create a dose</h2>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: @ingredients %>
  <%= f.submit %>
<% end %>
<%#= link_to "Create a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-info" %>

<%= link_to "Return to cocktail list", cocktails_path, class: "btn btn-info" %>
</div>
</div>




